@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hot-forging-animated-col {
    animation: slideIn 1s forwards; /* Adjust duration as needed */
}
