.ofs_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.ofs_data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}
.data_img1{
    margin: 10px;
    height: 40vh;
    width: 26vw;
    margin-top: 40px;
    position: relative;
    display: inline-block;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 4px solid orange;
}
.img1_org{
 width: 100%;
 height: 100%;
 border-top-left-radius: 45px;
 border-bottom-right-radius: 45px;
}
.ofs_container{
    width: 90%;
    margin: auto;
    border: 2px solid orange;
    margin-top: 20px;
}
.header_style{
    font-size: 40px;
    font-weight: 700;
}
.header2_style{
    font-size: 16px;
    font-weight: 500;
    color: grey;
}
.img_label {

    text-align: left;
    color: orange; 
    font-size: 20px;
    padding: 5px 0;
    font-weight: 700;
}

/* Add media queries for responsiveness */
@media (max-width: 1200px) {
    .data_img1 {
        height: 35vh;
        width: 30vw;
    }
}

@media (max-width: 900px) {
    .data_img1 {
        height: 30vh;
        width: 45vw;
    }
}

@media (max-width: 600px) {
    .data_img1 {
        height: 25vh;
        width: 60vw;
    }
    .img_label {
        font-size: 16px;
    }
}
