
.ofs_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.ofs_data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}
.data_img1{
    margin: 10px;
    height: 50vh;
    width: 220px;
    position: relative;
    display: inline-block;
    
}
.img1_org{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}
.ofs_container{
    width: 80%;
    margin: auto;
}
.header_style{
    font-size:40px ;
    font-weight: 700;
}
.header2_style{
    font-size: 16px;
    font-weight: 500;
    color: grey;
}
.img_label {
    position: absolute;
    bottom: 10%;
    left: 25%;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 20px;
    padding: 5px 0;
    font-weight: 700;
}